.carrousel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;

  @media screen and (max-width: 768px) {
    margin: 20px auto 0px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.2));
  }

  &__img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;

    @media screen and (max-width: 768px) {
      height: 255px;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
  }

  &__arrow__left {
    position: absolute;
    left: 0;
    bottom: 35%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      width: 8%;
      bottom: 85px;
    }

    @media screen and (max-width: 650px) {
      width: 8%;
      bottom: 100px;
    }

    @media screen and (max-width: 400px) {
      width: 8%;
      bottom: 105px;
    }

    @media screen and (max-width: 375px) {
      width: 8%;
      bottom: 115px;
    }
  }

  &__arrow__right {
    position: absolute;
    right: 0;
    bottom: 35%;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      width: 8%;
      bottom: 85px;
    }

    @media screen and (max-width: 650px) {
      width: 8%;
      bottom: 100px;
    }

    @media screen and (max-width: 400px) {
      width: 8%;
      bottom: 105px;
    }

    @media screen and (max-width: 375px) {
      width: 8%;
      bottom: 115px;
    }
  }

  &__slideCounter {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    font-size: 18px;

    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}

.hide__elements {
  display: none;
}
