@import 'variables';

@keyframes spinninStart {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes spinninEnd {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}



.collapse {
    overflow: hidden;
    position: relative;
    margin: 5px auto 20px;
    max-width: 1023px;


    &__title {
        display: flex;
        color: white;
        font-size: 24px;
        line-height: 34.22px;
        font-weight: 500;
        padding: 0px 10px;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        height: 52px;
        border-radius: 5px 5px 5px 5px;
        
    }

    &__img {
        cursor: pointer;

        &__animateOn {
        
        animation: spinninStart 400ms ease-in-out forwards;
    }

    &__animateOff {
        animation: spinninEnd  400ms ease-in-out forwards;
    }

    }


    @keyframes collapse-visible {
        from {
            transform: translateY(-100%);
            height: 0;
            
            
            
        }
        to {
            transform: translateY(0%);
            height: auto;
            
            
            
        }
    }

    @keyframes collapse-hidden {
        from {
            transform: translateY(0%);
            height: auto;
            
        }
        to {
            transform: translateY(-100%); 
            height: 0;
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        z-index: -1;
        color: red;
        padding: 10px 15px;
        border-radius: 0px 0px 5px 5px;
        font-size: 18px;
        font-weight: 400;
        line-height: 25.67px;
        background-color: $grey;
        animation : collapse-hidden 500ms ease-in-out forwards;


        &__open {
            animation: collapse-visible 500ms ease-in-out forwards;
        }
    }

}




