@import "variables";

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  width: 95%;
  margin: 90px auto 90px;
  @media screen and (max-width: 1024px) {
    margin: 60px auto 0px;
    gap: 120px;
  }

  &__img {
    width: 60%;

    @media screen and (max-width: 600px) {
      width: 55%;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 36px;
    width: 100%;
    text-align: center;
    height: 51px;
    font-weight: 500;

    @media screen and (max-width: 1200px) {
      font-size: 170%
    }

    @media screen and (max-width: 900px) {
      font-size: 150%;
      white-space: pre-wrap;
    }
    
    @media screen and (max-width: 800px) {
      font-size: 120%;
      width: 100%;
      line-height: 25px;
      white-space: pre-wrap;
    }
  }

  &__link {
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 150px;
    text-align: center;

    @media screen and (max-width: 450px) {
      font-size: 100%;
    }
  }
}
