// Scss code for the Kasa logo + navigation

@import 'variables';

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
        
    &__logo {
            width: 210.32px;
            height: 68px;
        }
        
        
}

    


