// Scss code for the Kasa logo + navigation

@import "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 375px) {
    border: 1px solid red;
  }

  @media screen and (max-width: 375px) {
    border: 1px solid green;
  }

  &__logo {
    width: 210.32px;
    height: 70px;

    @media screen and (max-width: 530px) {
      width: 150px;
    }

    @media screen and (max-width: 375px) {
      width: 100px;
    }
  }
}
