@import 'variables';

.propertyrental___title
.propertyrental__location {
    color: $primary-color;
}

.propertyrental {

    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;


    &__grid {
        display: grid;
        grid-row: 1;
        margin-top: 20px;
        align-items: center;
    }

    &__left {
        grid-row: 1;
    }

    &__title {
        color: $primary-color;
        margin-bottom: 5px;
    }

    &__location {
        color: $primary-color;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        grid-row: 1;
    }

    &__host__name {
        color: $primary-color;
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
    }

    &__host__img {
        width: 64px;
        height: 64px;
        border-radius: 50px;
    }

    &__right__stars {
        grid-row: 2;
        grid-column: 3;
    }

}