@import 'variables';



.property{
    
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 95%;
        margin: 0 auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px auto;
        width: 95%;
    }

    &__title {
        // width: 635px;
    }


    &__host {

    }

    &__tags {
        grid-column: 1;
        grid-row: 2;
        margin-top: 10px;
    }

    &__rating {
        grid-column: 2;
    }

    &__collapse__description {
        grid-row: 3;
        grid-column: 1;
        margin-right: 30px;
    }

    &__collapse__equipement {
        grid-row: 3;
        grid-column: 2;
        margin-left: 30px;
    }




    
}