@import "variables";

.title__h2,
.title__location {
  color: $primary-color;
}

.title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;

  &__h2 {
    width: 100%;
    font-size: 25px;
    line-height: 40px;
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      font-size: 23px;
      white-space: normal;
    }

    @media screen and (max-width: 375px) {
      width: 100%;
      bottom: 40%;
    }
  }

  &__location {
    margin: 10px 0;
    font-size: 18px;
    line-height: 25.67px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
  }
}
